.nav{
  background-color: #BE3144;
  height: 60px;
  width: 100%;
  position: flex;
  
}
#navbar a{
  position: relative;
  left: 800px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left:2.5em ;
  top: 15px;
  font-weight:bold ;
}
#navbar a:hover{
  color: black;
}
#welcome-section{
  background-color: #232325;
  text-align: center;
  height: 600px;
  position: relative;
  bottom: 50px;
  width:100%
}
#welcome-section h1{
  color:white;
  position:relative;
  top:70px;
  font-size: 70px;
}
#welcome-section p{
  color:rgb(135, 14, 14);
  font-style: italic; 
  font-size: 30px;
  position:relative;
  top:50px;
}