.nav{
  background-color: red;
  height: 60px;
  width: 100%;
  padding:10px;
  position: flex;
  
}
#navbar a{
  position: relative;
  left: 800px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left:2.5em ;
  top: 15px;
}
#navbar a:hover{
  color: white;
}
#welcome-section{
  background-color: black;
  text-align: center;
  height: 800px;
  position: relative;
  bottom: 20px;
}
#welcome-section h1{
  color:white;
}
#welcome-section p{
  color:red;
  font-style: italic; 
  font-size: 20px;

}